In [1]:
a=1
if a<=10:
    print("Hello")

Hello

In [3]:
num=95029
count=0
while num!=0:
    num=num//10
    count=count+1
print(count)

5

In [7]:
num=783781
rem=0
ecount=0
ocount=0
while num!=0:
    rem=num%10         #783781%10 ==> 1
    if rem%2==0:
        ecount=ecount+1              #1          #1
    else:
        ocount=ocount+1              #1          #2
    num=num//10                      #78378      #78

print("No.of even digits:  ",ecount)
print("No.of odd digits:  ",ocount)

No.of even digits:   2
No.of odd digits:   4

In [13]:
num=11
i=1
count=0
while i<=num//2:                     #1<=25
    if num%i==0:                     #25%1
        count=count+1
    i=i+1
if count==1:
    print("prime")
else:
    print("Not a prime")
print("No.of factors",count)

prime
No.of factors 1

In [17]:
num = 2
while num <= 100:
    i = 1  
    count = 0  
    while i <= num // 2:
        if num % i == 0:
            count += 1
        i += 1
    if count == 1:  
        print(num)
    num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
str="swathi"
print(str)

swathi

In [3]:
str='''hello
guys'''
print(str)

hello
guys

In [9]:
str="swathi Reddy"
print(str.upper())
print(str.lower())
print(str.title())
print(str.capitalize())

SWATHI REDDY
swathi reddy
Swathi Reddy
Swathi reddy

In [11]:
str="swathi Reddy"
print(str.upper())
print(str.lower())
print(str.title())
print(str.capitalize())
print(len(str))

SWATHI REDDY
swathi reddy
Swathi Reddy
Swathi reddy
12

In [13]:
str="swathi Reddy"
print(str.isupper())
print(str.islower())

False
False

In [15]:
str="12345"
print(str.isdigit())

True

In [17]:
str="12345"
print(str.isdigit())
print(str.isalnum())

True
True

In [19]:
str="123AB"
print(str.isdigit())
print(str.isalnum())

False
True

In [23]:
str="123AB"
print(str.isdigit())
print(str.isalnum())
print(str.isspace())

False
True
False

In [27]:
str="a b"
print(str.isspace())

False

In [29]:
str='hello world'
print(str.isspace())

False

In [33]:
str="hi hello"
for i in str:
    print(i)



str="hi hello"
for i in str:
    print(i,end=" ")

h
i

h
e
l
l
o
h i   h e l l o

In [35]:
str="Hi Hello vanakam 689419 @#*&%"
digit_count=sum(char.isdigit() for char in str)
print("number of digits:  ",digit_count)

number of digits:   6

In [37]:
str="Hi Hello vanakam 689419 @#*&%"
digit_count=sum(char.isdigit() for char in str)
print("number of digits:  ",digit_count)

acount=sum(char.isalpha() for char in str)
print("number of alphabet:  ",acount)

number of digits:   6
number of alphabet:   14

In [41]:
str="Hi Hello vanakam 689419 @#*&%"
digit_count=sum(char.isdigit() for char in str)
print("number of digits:  ",digit_count)

acount=sum(char.isalpha() for char in str)
print("number of alphabet:  ",acount)
vowel="aeiouAEIOU"
vcount=sum(char in vowel for char in str)
print("number of vowel:  ",vcount)

number of digits:   6
number of alphabet:   14
number of vowel:   6

In [43]:
str="Hi Hello vanakam 689419 @#*&%"
digit_count=sum(char.isdigit() for char in str)
print("number of digits:  ",digit_count)

acount=sum(char.isalpha() for char in str)
print("number of alphabet:  ",acount)
vowel="aeiouAEIOU"
vcount=sum(char in vowel for char in str)
print("number of vowel:  ",vcount)
special_char_count = sum(not char.isalnum() and not char.isspace() for char in str)
print("Number of special characters:", special_char_count)

number of digits:   6
number of alphabet:   14
number of vowel:   6
Number of special characters: 5

In [47]:
str="Hi Hello vanakam 689419 @#*&%"
digit_count=sum(char.isdigit() for char in str)
print("number of digits:  ",digit_count)

acount=sum(char.isalpha() for char in str)
print("number of alphabet:  ",acount)
vowel="aeiouAEIOU"
vcount=sum(char in vowel for char in str)
print("number of vowel:  ",vcount)
special_char_count = sum(not char.isalnum() and not char.isspace() for char in str)
print("Number of special characters:", special_char_count)
scount = str.count(' ')
print("Number of spaces:",scount)

number of digits:   6
number of alphabet:   14
number of vowel:   6
Number of special characters: 5
Number of spaces: 4

In [49]:
str="Hi Hello"
print(str.startswith("Hi"))

True

In [51]:
str="Hi chandu Hello"
print(str.startswith("Hi"))
print(str.endswith("Hello"))
print(str.startswith("."))

True
True
False