In [3]:
#float --> int
a=18.5
b=int(a)
print(a)
print(b)

18.5
18

In [10]:
#string to int
a="234"
b=int(a)
print(a)
print(b)
print(type(a))
print(type(b))

234
234
<class 'str'>
<class 'int'>

In [7]:
#string --> float
a="23"
b=float(a)
print(a)
print(b)

23
23.0

In [12]:
a="7376"
b="9383"
print(a+b)

73769383

In [25]:
#ATM
#Aceept withdraw amount and print number of notes
# 500,200,100
amount=int(input("Enter your amount:")) #800
five=0
two=0
one=0
if amount%100==0:
   if amount>=500:
    five=amount//500
    print("500 rupees notes are:",five)
    amount=amount-(five*500)
   if amount>=200:    
    two=amount//200
    print("200 rupees notes are:",two)
    amount=amount-(two*200)
   if amount>=100:
    one=amount//100
    print("100 rupees notes are:",one)
else:
    print("invalid amount")

Enter your amount: 1500

500 rupees notes are: 3

In [22]:
salary=int(input("enter salary:"))
if salary<=20000:
    hra=(salary*76)/100
    da=(salary*78)/100
    gs=salary+hra+da
    print(gs)
if salary>=20000 and salary<=30000:
    hra=(salary*79)/100
    da=(salary*82)/100
    gs=salary+hra+da
    print(gs)
if salary>=30000:
    hra=(salary*85)/100
    da=(salary*89)/100
    gs=salary+hra+da
    print(gs)

enter salary: 2700

6858.0

In [27]:
salary=int(input("enter salary:"))
if salary<=20000:
    hra=(salary*76)/100
    da=(salary*78)/100
elif salary<=30000:
    hra=(salary*79)/100
    da=(salary*82)/100
else:
    hra=(salary*85)/100
    da=(salary*89)/100

gs=salary+hra+da
print("Gross salary is: ",gs)

enter salary: 60000

Gross salary is:  164400.0

In [29]:
salary=int(input("Enter the salary: "))
if salary<=500000:
     print("0% gst")
elif salary<=1000000:    #800000
        amt=salary-500000                 #300000
        if amt<=500000:
            gst1=(5*200000)/100
            amt1=amt-200000
            gst2=(amt1*10)/100
tgst=gst1+gst2
print(tgst)

Enter the salary:  800000

20000.0