In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
2*10

20

In [3]:
7*78+89

635

In [5]:
type(10)

int

In [7]:
type('Chandana')

str

In [8]:
a=b=c=10
print(b)

10

In [9]:
a,b,c=1,20,'Hello'
print(a,b,c)

1 20 Hello

In [10]:
a=10
b=20
print(a,b,sep=',')

10,20

In [11]:
print(1,2,3,4,sep='#',end='$')

1#2#3#4$

In [12]:
a=190
b='Chandana'
c=456.36
print("The Given Employee Number is: ",a)
print("The Given Employee Name is: ",b)
print("The Given Employee Salary is: ",c)

The Given Employee Number is:  190
The Given Employee Name is:  Chandana
The Given Employee Salary is:  456.36

In [15]:
a=int(input("Enter Employee Number"))
b=input("Enter the name of the Employee")
c=float(input("Enter the salary of the employee"))
print("The Given Employee Number is: ",a)
print("The Given Employee Name is: ",b)
print("The Given Employee Salary is: ",c)

Enter Employee Number 190
Enter the name of the Employee Chandana
Enter the salary of the employee 456.36

The Given Employee Number is:  190
The Given Employee Name is:  Chandana
The Given Employee Salary is:  456.36

In [16]:
r=int(input("Enter the radius: "))
pi=3.14
area=pi*r*r
print(area)

Enter the radius:  6

113.03999999999999

In [19]:
num=int(input("Enter the id of the student"))
name=input("Enter name of the student")
math=int(input("Enter marks of maths subject"))
phy=int(input("Enter marks of physics subject"))
chem=int(input("Enter marks of chemistry subject"))
tot=math+phy+chem
avg=tot/3
print("Student id: ",num)
print("Student name: ",name)
print("Marks in Maths: ",math)
print("Marks in Chemistry: ",chem)
print("Marks in Physics: ",phy)
print("Total marks: ",tot)
print("Average marks: ",avg)

Enter the id of the student 120
Enter name of the student Chandana
Enter marks of maths subject 90
Enter marks of physics subject 89
Enter marks of chemistry subject 78

Student id:  120
Student name:  Chandana
Marks in Maths:  90
Marks in Chemistry:  78
Marks in Physics:  89
Total marks:  257
Average marks:  85.66666666666667

In [22]:
round(10.3977,3)

10.398

In [23]:
a=17
b=5
if a>b:
    print("A is greater than B")
else:
    print("b is greater than a")

A is greater than B

In [25]:
a=int(input("Enter the number:"))
if a%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter the number: 67

Number is odd

In [26]:
a=10
b=10
if a>b:
    print("A is greater")
elif b>a:
    print("B is greater")
else:
    print("Both are equal")

Both are equal

In [32]:
i=1
while i<=5:
    print("dora")
    i=i+1

dora
dora
dora
dora
dora

In [34]:
i=1
n=int(input("Enter upto which number"))
while i<=n:
    if i%2==0:
        print(i)
        i=i+1
    else:
        i=i+1

Enter upto which number 200

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [36]:
for i in range(10,20):
   print(i)

10
11
12
13
14
15
16
17
18
19

In [37]:
for i in range(-10,20):
   print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [39]:
n=int(input("Enter the table you want:"))
for i in range(1,10+1):
    print(f"{n} * {i} =",n*i)

Enter the table you want: 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [45]:
n=int(input("Enter the number:"))
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end=" ")
        
        j=j+1
    print()
    i=i+1

Enter the number: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [45]:
n=int(input("Enter the number:"))
i=1
while i<=n:
    j=1
    while j<=n:
        print("*",end=" ")
        
        j=j+1
    print()
    i=i+1

Enter the number: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [46]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                     #i for rows and j for coloum
    j=1
    while j<=n:
        print('*', end=" ")
        j=j+1
    print()

Enter the value of n:  8

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [47]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):                     #i for rows and j for coloum
    j=1
    while j<=i:
        print('*', end=" ")
        j=j+1
    print()

Enter the value of n:  5

*
* *
* * *
* * * *
* * * * *

In [51]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if i == j:
            print("$",end=" ") 
        else:
            print("*",end=" ") 
            j=j+1
    print()

Enter the value of n:  6

$ * * * * *
* $ * * * *
* * $ * * *
* * * $ * *
* * * * $ *
* * * * * $

In [55]:
n=int(input("Enter the value of n: "))
for i in range(1,n+1):
    for j in range(1,n+1):
        if i == j or j==n-i+1:
            print("$",end=" ") 

        else:
            print("*",end=" ") 
            j=j+1
    print()
    i=i+1

Enter the value of n:  6

$ * * * * $
* $ * * $ *
* * $ $ * *
* * $ $ * *
* $ * * $ *
$ * * * * $

In [59]:
my_list=[1,2,3]
my_list

[1, 2, 3]

In [63]:
num_list= [[1,2,4], [98,987,77]]
print(num_list[1][1])

987

In [64]:
my_list=[10,20,30,40,50,60,70,80,90,100]
my_list[-2]

90

In [66]:
my_list=[10,20,30,40,50,60,70,80,90,100]
my_list[4: ]

[50, 60, 70, 80, 90, 100]

In [67]:
my_list[2:8]

[30, 40, 50, 60, 70, 80]

In [70]:
my_list[0]=79
my_list

[79, 20, 30, 40, 50, 60, 70, 80, 79, 100]

In [71]:
del my_list[1:3]
my_list

[79, 40, 50, 60, 70, 80, 79, 100]

In [79]:
n=int(input("Enter the no of elements : "))
a=[]
print("Enter the elements")
for i in range(n):
    b=input("")
    a.append(b)
print(a)

Enter the no of elements :  3

Enter the elements

 89
 90
 67

['89', '90', '67']

In [82]:
my_list.insert(2,30)
my_list

[79, 40, 30, 50, 60, 70, 80, 79, 100]

In [88]:
x=int(input("Enter the number to be removed: "))
if x in my_list:
    my_list.remove(x)
    print(my_list)
else:
    print("Element not in list")

Enter the number to be removed:  30

[79, 40, 50, 60, 70, 79, 100]

In [89]:
my_list.pop()

100

In [92]:
my_list.pop(0)

79

In [93]:
a=[1,8,9,6,4]
a

[1, 8, 9, 6, 4]

In [95]:
a.clear()
a

[]

In [96]:
my_list

[40, 50, 60, 70, 79]

In [98]:
my_list.index(79)

4

In [99]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
my_list.count(60)

1

In [101]:
a=[1,8,9,6,4]
a.sort()
a

[1, 4, 6, 8, 9]

In [102]:
a=[1,8,9,6,4]
a.sort(reverse=True)

[9, 8, 6, 4, 1]

In [116]:
scores=[]
print("Enter 5 scores ")
for i in range(5):
    scores.append(int(input()))
print("Initial Scores:\n",scores)
ind=scores.index(min(scores))
scores.insert(ind,100)
print("Scores after inserting bonus:\n",scores)
scores.remove(max(scores))
print("Scores after removing bonus:\n",scores)
popped_score=scores.pop(4)
print("popped element :\n",popped_score)
b=[85,75,95,65,55]
scores.extend(b)
print("Extended list:\n",scores)
scores.sort(reverse=True)
print("Desending order of list: \n",scores)

Enter 5 scores

 30
 45
 65
 98
 68

Initial Scores:
 [30, 45, 65, 98, 68]
Scores after inserting bonus:
 [100, 30, 45, 65, 98, 68]
Scores after removing bonus:
 [30, 45, 65, 98, 68]
popped element :
 68
Extended list:
 [30, 45, 65, 98, 85, 75, 95, 65, 55]
Desending order of list:
 [98, 95, 85, 75, 65, 65, 55, 45, 30]

In [117]:
tup1=('koushik','swathi',100,200)
tup1

('koushik', 'swathi', 100, 200)

In [118]:
t=tuple('PYTHON')
t

('P', 'Y', 'T', 'H', 'O', 'N')

In [1]:
a=12334
str(a)

'12334'

In [2]:
max("AHRYDN")

'Y'

In [3]:
min("EJNDJLSA")

'A'

In [4]:
len("fhebhbuyheuyrhhfeirfiufirufhfnidhn")

34

In [6]:
n=input("Enter your name: ")
print(min(n))
print(max(n))
print(len(n))
print(sorted(n))

Enter your name:  CHANDANA

A
N
8
['A', 'A', 'A', 'C', 'D', 'H', 'N', 'N']

In [8]:
n=input("Enter your name: ")
count=0
for i in n:
    count+=1
print(count)

Enter your name:  chandana

8

In [9]:
st="WELcome TO bitLABS"
st.lower()

'welcome to bitlabs'

In [12]:
st="wednesday"
st.upper()

'WEDNESDAY'

In [15]:
str="TOday IS friDAY"
str.swapcase()

'toDAY is FRIday'

In [17]:
str.isalpha()

False

In [18]:
str.islower()

False

In [19]:
str.isupper()

False