In [2]:
import pandas as pd
import numpy as np
a_list = [1,3,5,7,9]
ser = pd.Series(a_list,index=['1st','2nd','3rd','4th','5th'])
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [3]:
import pandas as pd
import numpy as np
a_dict = {'1st': 1,'2nd': 3, '3rd': 5, '4th': 7,'5th': 9}
ser = pd.Series(a_dict)
ser

1st    1
2nd    3
3rd    5
4th    7
5th    9
dtype: int64

In [5]:
import pandas as pd
import numpy as np
an_array = np.array([[25, 85], [25, 90], [26, 70], [24, 80]])
ser = pd.DataFrame(an_array, index=['Rukshan','Prasadi','Gihan','Hansana'], columns=['age','marks'])
print(ser)

         age  marks
Rukshan   25     85
Prasadi   25     90
Gihan     26     70
Hansana   24     80

In [6]:
ser.values

array([[25, 85],
       [25, 90],
       [26, 70],
       [24, 80]])

In [7]:
ser.index

Index(['Rukshan', 'Prasadi', 'Gihan', 'Hansana'], dtype='object')

In [8]:
ser.columns

Index(['age', 'marks'], dtype='object')

In [12]:
import pandas as pd
a_dict = {'name': {'Ru': 'Rukshan','Pr': 'Prasadi','Gi': 'Gihan', 'Ha': "Hansana"},'age': {'Ru':25, 'Pr':25,'Gi':26, 'Ha':24},'marks': {'Ru' :85,'Pr' :90,'Gi':70, 'Ha':80}}
df = pd.DataFrame(a_dict)
df

       name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   25     90
Gi    Gihan   26     70
Ha  Hansana   24     80

In [13]:
df.index

Index(['Ru', 'Pr', 'Gi', 'Ha'], dtype='object')

In [14]:
df.columns

Index(['name', 'age', 'marks'], dtype='object')

In [15]:
df.values

array([['Rukshan', 25, 85],
       ['Prasadi', 25, 90],
       ['Gihan', 26, 70],
       ['Hansana', 24, 80]], dtype=object)

In [16]:
type(df.values)

numpy.ndarray

In [17]:
df.values.ndim

2

In [18]:
df.values.shape

(4, 3)

In [19]:
ser1 = pd. Series(['Rukshan', 'Prasadi', 'Gihan', 'Hansana'], index=['Ru', 'Pr' , 'Gi', 'Ha']) 
ser2 = pd. Series([25, 25, 26, 24], index=['Ru' , 'Pr', 'Gi', 'Ha'])
ser3 = pd.Series([85, 90, 70, 80], index=['Ru', 'Pr' , 'Gi' , 'Ha']) 
a_dict = {'name': ser1, 
          'age': ser2, 
          'marks': ser3}
df = pd.DataFrame(a_dict)
df

       name  age  marks
Ru  Rukshan   25     85
Pr  Prasadi   25     90
Gi    Gihan   26     70
Ha  Hansana   24     80

In [21]:
x = 10
def change():
   global x
x = 20
change()
print(x)

20

In [22]:
def foo(a, b=[]):

    b.append(a)

    return b

 

x = foo(1)

y = foo(2, [])

z = foo(3)

 

print(x)

print(y)

print(z)

[1, 3]
[2]
[1, 3]

In [23]:
x = [[0], [1]]

print((' '.join(list(map(str, x))),))

('[0] [1]',)

In [28]:
x = 10

def func():

    x = 20
    print(x)

func()

print(x)

20
10

In [29]:
 s1 = '{2}, {1} and {0}'.format('a', 'b', 'c')

s2 = '{0}{1}{0}'.format('abra', 'cad') 

print(s1, s2)

c, b and a abracadabra

In [30]:
def mystery(n):

    result = 1

    for i in range(1, n + 1):

        result *= i

    return result



print(mystery(4))

24

In [31]:
 lst1 = [1, 2, 3]

lst2 = lst1

lst2 = lst2 + [4, 5]

print(lst1)

[1, 2, 3]

In [9]:
class Person:
   def __init__(self, name):
       self.name = name
       p = Person('John')
       print(p.name)

In [35]:
x = {1, 2, 3, 4, 5}
y = {3, 4, 5, 6, 7}
print(x | y)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
s1 = {1, 2, 3}

s2 = {3, 4, 5}

result = s1 | s2 - s1 & s2

print(result)

{1, 2, 3, 4, 5}

In [37]:
def func(x):

    try:

        return 10 / x

    except ZeroDivisionError:

        return "ZeroDivisionError"

    finally:

        return "Finally"

 

print(func(0))

print(func(5))

Finally
Finally

In [38]:
def check_list(lst):

    return [x * 2 for x in lst if x % 2 == 0]



print(check_list([1, 2, 3, 4, 5, 6]))

[4, 8, 12]

In [39]:
print('*', "abcde".center(6), '*', sep='')

*abcde *

In [40]:
t = (1, 2, 3) + (4,)

print(t * 2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [46]:
try:
   result = 10 / 0
except ZeroDivisionError:
    result = "Infinity"

print(result)

Infinity

In [48]:
def outer(x):

    def inner(y):

        return x + y

    return inner



closure = outer(10)

print(closure(5))

15

In [49]:

result = [(x, y) for x in range(3) for y in range(3) if x != y]

print(result)

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [50]:
data = [1, 2, 3, 4, 5]

result = list(filter(lambda x: x % 2 and x > 3, data))

print(result)

[5]

In [51]:
class A:

    def __init__(self):

        self.x = 10

 

    def show(self):

        return self.x + self.calc()

 

    def calc(self):

        return 5

 

class B(A):

    def calc(self):

        return 20

 

obj = B()

print(obj.show())

30

In [52]:
def my_func(lst):

    total = 0

    for i in lst:

        if i % 2 == 0:

            total += i

    return total



numbers = [1, 2, 3, 4, 5, 6]

result = my_func(numbers)

print(result)

12

In [2]:
class MyClass:
   def __init__(self, x):
       self.x = x
   def __str__(self):
       return str(self.x)
obj = MyClass(5)
print(obj)

5

In [61]:
class CustomManager:

    def __enter__(self):

        print("Entering")

        return "Resource"



    def __exit__(self, exc_type, exc_value, traceback):

        print("Exiting")

        return True

with CustomManager() as resource:

    print(resource)

    raise ValueError("An error occurred")

Entering
Resource
Exiting

In [64]:
def func():

    return 1, 2, 3

t = (func( ),) * 3

print(t)

((1, 2, 3), (1, 2, 3), (1, 2, 3))

In [65]:
a = 2

b = '3.77'

c = -8

s = '{0:.4f} {0:3d} {2} {1}'.format(a, b, c) 

print(s)

2.0000   2 -8 3.77

In [66]:
def func(a, b=[]):

    b.append(a)

    return b

 

print(func(1))

print(func(2, []))

print(func(3))

[1]
[2]
[1, 3]

In [68]:
class A:
    def __init__(self):

        self.x = 10
class B(A):

    def __init__(self):

        self.x = 20

obj = B()

print(obj.__dict__)

{'x': 20}

In [74]:
def demo():
   x = 10
   print(x)
x = 5

demo()

10

In [70]:
def foo(n):

    if n == 0:

        return 0

    return n + foo(n-1)

 

print(foo(3))

6